@charset "utf-8";
@import 'node_modules/bulma/sass/utilities/initial-variables.sass';
$info: #2b2d42;
$primary: #8d99ae;
$success: #edf2f4;
$link: #d90429;
$warning: #44CF6C;

.sync_image_container {
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255,255,255,.55)), url("/img/icons/sync_channels.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.play_image_container {
    overflow: hidden;
    background-image: linear-gradient(rgba(255,255,255,.55), rgba(255,255,255,.55)), url("/img/icons/play.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.home_image_container {
    overflow: hidden;
    background-image: linear-gradient(rgba(255,255,255,.55), rgba(255,255,255,.55)), url("/img/icons/home.png");
    background-repeat: no-repeat;
    background-position: center center;
}

@import "node_modules/bulma/bulma.sass";
@import 'node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass'
// #1C7C54