@charset "utf-8";
@import 'node_modules/bulma/sass/utilities/initial-variables.sass';
$info: #2b2d42;
$primary: #8d99ae;
$success: #edf2f4;
$link: #d90429;
$warning: #ef233c;

.home_image_container {
    overflow: hidden;
    background-image: linear-gradient(rgba(255,255,255,.55), rgba(255,255,255,.55)), url("https://quotefancy.com/media/wallpaper/3840x2160/6597218-Elon-Musk-Quote-One-of-the-really-tough-things-is-figuring-out.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@import "node_modules/bulma/bulma.sass";
@import 'node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass'
