asgiref
backports.zoneinfo
certifi
charset-normalizer
click
Django
djangorestframework
idna
pep517
pip-tools
pytz
requests
scrapetube
sqlparse
tomli
typing_extensions
urllib3
django-cors-headers
djoser
django-environ
whitenoise
django-extensions
psycopg2
beautifulsoup4
# django-allauth
dj-rest-auth
drf_social_oauth2
django-oauth-toolkit
social-auth-app-django
paypal-checkout-serversdk